html *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:beige;
}

.recipe-list{
    font-weight:400;
}

.recipe{
    display: block;
    padding: 1vh;
    margin: 1vh;
    background-color:antiquewhite;
}

/* title */
h1{
    text-align: center;
    background-color:lightgoldenrodyellow;
    margin: auto 15vw;
}

.chinese{
    font-weight:500;
}

/*links*/
a{
    color:mediumvioletred;
}

a:active{
    color:salmon;
}

a:visited{
    color:lightsalmon;
}

a:hover{
    color:lightcoral;
}

/* images */
img{
    width:50vw;
    height:auto;
}

div > img{
    text-align: center;
}